:root {
  --primary-color: #222831;
  --secondary-color: #e8e8e8;
  --additional-color: #f05454;
  --heading-font-family: "Roboto", sans-serif;
  --default-font-family: "Dosis", sans-serif;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
}

h1 {
  text-transform: uppercase;
  font-size: 92px;
  color: var(--additional-color);
}

h3 {
  font-size: 36px;
  margin-top: 80px;
}

p {
  font-family: var(--default-font-family);
}

.hero-image {
  background-image: url("/images/hero.png");
  background-position: center;
  background-size: cover;
}

.hero {
  padding: 200px 30px;
}

.hero h2 {
  font-size: 36px;
}

.hero p {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 60px;
}

.btn-branding {
  background-color: var(--additional-color);
  color: var(--secondary-color);
  padding: 10px 25px;
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  border-radius: 30px;
}

.btn-branding:hover {
  color: var(--secondary-color);
}

.project-part {
  position: relative;
}

.project-images {
  max-width: 100%;
  height: auto;
  border-radius: 30px;
  filter: grayscale(100%) contrast(120%);
}

.project-images:hover {
  filter: none;
  transition: all 200ms ease-in-out;
}

.project-info {
  padding: 5px;
  width: 290px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 400;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40px;
}

.project-info h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
}

.project-icons {
  font-size: 22px;
  line-height: 1;
}

@media (max-width: 900px) {
  h1 {
    font-size: 46px;
    color: var(--secondary-color);
  }

  h3 {
    font-size: 20px;
    margin-top: 40px;
  }

  .hero-image {
    background-position: right;
  }

  .hero {
    text-align: center;
    padding: 110px 0px;
    color: var(--additional-color);
    backdrop-filter: blur(10px);
  }

  .hero h2 {
    font-size: 22px;
  }

  .hero p {
    font-size: 17px;
    margin-bottom: 20px;
  }

  .btn-branding {
    padding: 5px 15px;
    font-size: 15px;
  }

  .project-info {
    width: 250px;
  }

  .project-info h2 {
    font-size: 18px;
    font-weight: 300;
  }

  .project-icons {
    font-size: 16px;
  }
}
