:root {
  --primary-color: #222831;
  --secondary-color: #e8e8e8;
  --additional-color: #f05454;
  --heading-font-family: "Roboto", sans-serif;
  --default-font-family: "Dosis", sans-serif;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
}

h1 {
  text-transform: uppercase;
  color: var(--secondary-color);
  font-size: 90px;
}

h3 {
  font-size: 32px;
  margin-top: 40px;
  text-transform: uppercase;
}

p {
  font-family: var(--default-font-family);
  font-size: 24px;
}

.hero-image {
  background-image: url("/images/hero-homepage.png");
  background-position: center;
  background-size: cover;
}

.get-in-touch {
  padding: 270px 30px;
}

.get-in-touch h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  color: var(--additional-color);
}

.contact-icons {
  font-size: 28px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 56px;
  }

  .hero-image {
    background-position: right;
  }

  .get-in-touch {
    padding: 80px 30px;
    backdrop-filter: blur(10px);
  }
}
