:root {
  --primary-color: #222831;
  --secondary-color: #e8e8e8;
  --additional-color: #f05454;
  --heading-font-family: "Roboto", sans-serif;
  --default-font-family: "Dosis", sans-serif;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
}

h1 {
  text-transform: uppercase;
  color: var(--secondary-color);
  font-size: 60px;
}

h3 {
  font-size: 32px;
  margin-top: 80px;
  text-transform: uppercase;
}

p {
  font-family: var(--default-font-family);
}

.about-main {
  margin-top: 30px;
  margin-bottom: 100px;
}

.about-image {
  border-radius: 50%;
  width: 100%;
  height: auto;
  border: 2px solid var(--secondary-color);
}

.about-info {
  margin-top: 120px;
}

.about-info h2 {
  color: var(--additional-color);
}

.about-info p {
  font-size: 18px;
}

.social-icons {
  font-size: 35px;
}

.btn-branding {
  background-color: var(--additional-color);
  color: var(--secondary-color);
  padding: 10px 25px;
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  border-radius: 30px;
}

.btn-branding:hover {
  color: var(--secondary-color);
}

.competence {
  margin-top: 50px;
}

.competence h3 {
  margin-top: 10px;
  font-size: 36px;
}

.competence p {
  margin-top: 30px;
  font-size: 20px;
}

.image-competence {
  border-radius: 30px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 35px;
    text-align: center;
  }

  .about-info {
    margin-top: 30px;
  }

  .about-info h2 {
    text-align: center;
  }

  .about-info p {
    text-align: center;
  }

  .competence {
    margin-top: 50px;
  }

  .competence p {
    text-align: center;
  }
}
